input, button {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: inherit;
  font: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  width: 1000px;
  margin: auto;
  font-family: "Ubuntu";
}

.game {
  margin: 10px;
}

.heading {
  width: 700px;
  margin: auto;
}

.heading h1 {
  text-align: center;
}

canvas {
  display:block;
  margin: auto;
}

.buttons {
  width: 100%;
  text-align: center;
}

.game button {
  width: 170px;
  padding: 15px;
  margin: 10px;
  border: 1px solid transparent;
  background-color: orange;
  border-radius: 5px;
  cursor: pointer;
}

.game button:hover {
  border: 1px solid black;
}

.colors-speed {
  width: 700px;
  margin: auto;
  padding: 10px 0;
}

#color-radios {
  float: left;
}

#color-radios label {
  margin: 20px;
  /*border: 1px solid black;*/
}

.colors-speed #count {
  width: 150px;
  float: right;
}

.speed {
  float: left;
  margin-left: 60px;
  /*margin-top: 15px;*/
}

#start {
  background-color: #00cc00;
}

#pause {
  background-color: #ff3300;
}

#step {
  background-color: #ffff1a;
}

#reset {
  background-color: #7070db;
}
