input, button {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: inherit;
  font: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: "Ubuntu";
  background-color: #ccffcc;
}

.main {
  width: 1000px;
  margin: auto;
}

.game {
  margin: 20px;
}

.image-container {
  width: 1200px;
}

.heading {
  width: 700px;
  margin: auto;
}

.heading h1 {
  text-align: center;
}

canvas {
  display:block;
  margin: auto;
}

.buttons {
  width: 100%;
  position: relative;
  text-align: center;
}

.buttons img {
  position: absolute;
  transform: rotate(180deg);
  top: -120px;
  left: -70px;
}

.game button {
  width: 175px;
  outline: none;
  padding: 15px;
  margin: 10px;
  border: 2px solid transparent;
  background-color: #ff8c1a;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.game button:hover {
  border: 2px solid black;
  background-color: #ffb366;
}

.colors-speed {
  width: 700px;
  margin: auto;
  padding: 10px 0;
}

#color-radios {
  float: left;
}

#color-radios label {
  margin: 20px;
  cursor: pointer;
}

.colors-speed #count {
  width: 150px;
  float: right;
}

.speed {
  float: left;
  margin-left: 60px;
}

.speed input {
  cursor: pointer;
}

#start {
  background-color: #00cc00;
}

#selected {
  background-color: #ccc;
  cursor: default;
}

#selected:hover {
  border: 2px solid transparent;
}

#pause {
  background-color: #ff3300;
}

#step {
  background-color: #ffff1a;
}

#reset {
  background-color: #7070db;
}

/*ant link: https://mseap.wikispaces.com/file/view/ant.png/109286177/209x209/ant.png*/
